include CHANGES
include COPYING
include LICENSE
include INSTALL
include README
include takenote/images/*.png
include takenote/images/*.ico
include takenote/rc/takenote.glade
include takenote/extensions/backup_tar/*.py
include post_py2exe.py
include pywin.py
include installer.iss