include CHANGES
include COPYING
include LICENSE
include INSTALL
include README
include README.translations.txt
include Makefile.gettext
include keepnote/images/*.png
include keepnote/images/*.ico
include keepnote/images/node_icons/*
recursive-include keepnote/rc *
recursive-include keepnote/extensions *
include desktop/*
recursive-include gettext *
