body {
  overflow: hidden;
}

.title {
  padding: 5px;
}

#topbar {
  background: #cccccc;
}

#topbar .search {
  float: right;
}

.tt-dropdown-menu {
  background: white;
  border: 1px solid #555555;
  padding: 2px;
}

.tt-hint {
  color: #999
}

.tt-suggestion {
  padding: 2px;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #5555cc;
}

#treeview-pane {
  border: solid #cccccc 1px;
  float: left;
  overflow: auto;
}

#treeview-pane:focus {
  border: solid #ffcccc 1px;
}

.node-tree-title {
  cursor: pointer;
}

.node-tree-title.active {
  background-color: #5555cc;
  color: #ffffff;
}

.node-tree-title input {
  background: #9999cc;;
  border: 0px;
  outline: 0px;
  padding: 0px;
  padding-left: 5px;
  margin: 0px;
  font: inherit;
  text-align: inherit;
}

.node-tree-title.active a:link,
.node-tree-title.active a:hover,
.node-tree-title.active a:visited
{
  color: #ffffff;
}

.node-tree ul {
  padding-left: 20px;
}

.node-tree li {
  list-style: none;
}

.files {
  margin: 5px;
  background: #ddddff;
}

.page-toolbar {
  background-color: #cccccc;
}

.page-toolbar a {
  padding: 0px;
}

.page-toolbar .block {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
}

#page-pane {
  border: solid #ccc 1px;
  float: left;
}

#page-editor {
  overflow-y: auto;
}

.dialog-link {
  background: #cccccc;
}