body {
  overflow: hidden;
}

.title {
  padding: 5px;
}

#treeview-pane {
  border: solid #ccc 1px;
  float: left;
}

#notebook {
  overflow: auto;
}

#notebook ul {
  padding-left: 20px;
}

#notebook li {
  list-style: none;
}

.files {
  margin: 5px;
  background: #ddddff;
}

.page-toolbar {
  background-color: #ccc;
  padding-left: 5px;
}

#page-pane {
  border: solid #ccc 1px;
  float: left;
}

#page-view {
  overflow-y: auto;
}