Source: keepnote
Section: utils
Priority: optional
Maintainer: Matt Rasmussen <rasmus@alum.mit.edu>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
XS-Python-Version: >= 2.5
Homepage: http://keepnote.org

Package: keepnote
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, python (>=2.5), python-central (>= 0.5.6), python-gtk2, python-glade2, libsqlite3-0 (>= 3.5.0)
Suggests: python-gnome2-extras 
Description: cross-platform note-taking and organization application
 KeepNote is a note taking application that works on Windows, Linux, and 
 MacOS X. With TakeNote, you can store your class notes, TODO lists, research 
 notes, journal entries, paper outlines, etc in a simple notebook hierarchy 
 with rich-text formatting, images, and more. Using full-text search, you 
 can retrieve any note for later reference.




