<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
  <title>KeepNote Notebook</title>

  <link type="text/css" rel="stylesheet" href="/static/thirdparty/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/thirdparty/css/bootstrap-theme.css">

  <link type="text/css" rel="stylesheet" href="/static/css/keepnote.css">

  <script type="text/javascript" src="/static/thirdparty/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/thirdparty/js/underscore.js"></script>
  <script type="text/javascript" src="/static/thirdparty/js/backbone.js"></script>
  <script type="text/javascript" src="/static/thirdparty/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/thirdparty/js/react.js"></script>
  <script type="text/javascript" src="/static/thirdparty/js/JSXTransformer.js"></script>

  <script type="text/javascript" src="/static/js/notebook.js"></script>
  <script type="text/jsx" src="/static/js/keepnote.jsx"></script>
</head>
<body>

<div id="base">
</div>


<script type="text/jsx">
    var notebook;

    function updateApp() {
        React.render(
            <KeepNoteView/>,
            $('#base').get(0)
        );
    }
    updateApp();

    function updateView() {
        // Render GUI.
        React.render(
            <NotebookTree node={notebook.root} />,
            $('#treeview-pane #notebook').get(0)
        );
    }
    queueUpdateView = _.debounce(updateView, 0);

    function onNoteBookChange() {
        queueUpdateView();
    }

    $(document).ready(function () {
        $(window).resize(updateApp);

        $.get('/notebook/').done(function (rootid) {
            notebook = new NoteBook({rootid: rootid});
            notebook.on("change", onNoteBookChange);
            notebook.fetch();
        });
    });
</script>

</body>
</html>
