<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
  <title>KeepNote Notebook</title>

  <!-- thirdparty -->
  <link type="text/css" rel="stylesheet" href="/static/thirdparty/bootstrap/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/thirdparty/bootstrap/css/bootstrap-theme.css">

  <script type="text/javascript" src="/static/thirdparty/jquery/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/thirdparty/underscore/js/underscore.js"></script>
  <script type="text/javascript" src="/static/thirdparty/backbone/js/backbone.js"></script>
  <script type="text/javascript" src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/thirdparty/react/js/react.js"></script>
  <script type="text/javascript" src="/static/thirdparty/react/js/JSXTransformer.js"></script>
  <script type="text/javascript" src="/static/thirdparty/wysihtml/js/wysihtml5x-toolbar.min.js"></script>
  <script type="text/javascript" src="/static/thirdparty/wysihtml/js/advanced_and_extended.js"></script>

  <!-- keepnote -->
  <link type="text/css" rel="stylesheet" href="/static/css/keepnote.css">

  <script type="text/javascript" src="/static/js/notebook.js"></script>
  <script type="text/jsx" src="/static/js/keepnote.jsx"></script>
</head>
<body>

<div id="base">
</div>


<script type="text/javascript">
  var app;

  function initKeepNoteApp() {
    app = new KeepNoteApp();
    app.init();
  }

  function onKeepNoteComplied() {
    initKeepNoteApp();
  }
</script>

</body>
</html>
