[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=KeepNote
GenericName=Note-taking Application
GenericName[sk]=Program na správu poznámok
Comment=Note-taking Application
Comment[sk]=Program na správu poznámok
Icon=keepnote
Exec=keepnote %f
Categories=Office
#MimeType=
Terminal=false
StartupNotify=false
